

.filters,
.search-result {
    margin-top: 40px;
    margin-bottom: 40px;
}

.search-result > h4 {
    background-color: #e6ebdc;
    border-radius: 4px;
    padding: 15px;
}

.filters {
    display: inline;
    min-height: 80vh;
    overflow: hide;
    background-color: #e6ebdc;
    border-radius: 4px;
    padding: 15px;
}

.filters > p {
    font-weight: bold;
}

.filters > button {
    background-color: #bf7754;
    border: 3px solid #9e694e;
    color: white;
    border-radius: 4px;
    width: 100%;
    padding: 4px;
}

.filters > button:focus {
    outline: none;
}

.items-container {
    padding: 15px;
}

.item-card {
    padding: 0;
    border: 3px solid #798f67;
    border-radius: 4px;
}

.item-details {
    padding: 10px;
}

.item-price {
    font-weight: bold;
    color: #bf7754;
}

.item-images img {
    border-radius: 1px 1px 0 0;
}

.mobileFiltersButton {
    display: none;
    position: absolute;
    bottom: 30px;
    right: 30px;
    height: 70px;
    width: 70px;
    background-color: aquamarine;
    color:#fff;
    text-align-last: center;
    border-radius: 50%;
    z-index: 50;
}

@media (max-width: 767px) {

    .showFilters {
        max-height: 500px;
        visibility: visible !important;
        -webkit-transition: max-height 0.5s ease;
        transition: max-height 0.5s ease;
    }

    .filters { 
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        visibility: hidden;
        margin-top: 0px;
        margin-bottom: 0px;
        overflow: hidden;
        width: 100%;
        z-index: 10;
    }
    
    .items-container > div.col-sm-12 {
        margin-top: 20px;
    }

    .mobileFiltersButton {
        display: inline;
    }
}
